@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-style: normal;
}
@font-face {
  font-family: 'YClover-Bold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/YClover-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'PyeongChangPeace-Bold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'OKCHAN';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/OKCHAN.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

*{
    margin: 0px;
    font-family: 'Pretendard-Regular';
    padding: 0px;
}
.work_categories{
    display: flex;
    position: sticky;
    top:0;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.box-1{
  display: flex;
  align-items: center;
  border-bottom: solid 1px #000;
margin-bottom: 35px;
}
.box-2{
  width: 32%;
  height: 440px;
  padding: 50px 0px 50px 30px;
}
.name{
  height: 540px;
  width: 30%;
  text-align: center;
  line-height: 540px;
  font-size: 40px;
  background-color: #000;
  color: #ffffff;
  border-right: solid 1px #000;
}

.name1{
text-transform: uppercase;
  width: 50px;
  animation-duration: 4s;
  animation-name: slidein;
  animation-iteration-count: infinite;
}
.name2{
  text-transform: uppercase;
  width: 50px;
  animation-duration: 4s;
  animation-name: slidein2;
  animation-iteration-count: infinite;
}
@keyframes slidein {
  0% {
    font-family: 'PyeongChangPeace-Bold';
  }
  50% {
    font-family:  'OKCHAN';
  }
  100% {
    font-family:  'PyeongChangPeace-Bold';
  }
}
@keyframes slidein2 {
  0% {
    font-family: 'OKCHAN';
  }
  50% {
    font-family: 'PyeongChangPeace-Bold';
  }
  100% {
    font-family: 'OKCHAN';
  }
}
.profile{
  padding-bottom: 100px;
}
.profile>div{
  padding-bottom: 10px;
  display: flex;
  font-size: 18px;
  width: 250px;
  justify-content: space-between;
}
.cate{
display: inline-block;
  font-size: 24px;
  text-transform: uppercase;
  border-bottom: solid 1px #000; 
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.profile>div>p{
  width: 150px;
 text-align: left;
}
.profile>div>span{
  display: block;
  font-weight: bold;
}
.press-bar{
  width: 100px;
  display: inline-block;
  height: 14px;
  background-color: #dedede;
  font-weight: 600;
  font-size: 0.8rem;
}

.press-bar .progress {
  width: 72px; 
  height: 14px;
  padding: 0;
  text-align: center;
  background-color: #565656;
  color: #111;
}
[class ^="prog"]{
  width: 80%; 
  height: 14px;
  padding: 0;
  text-align: center;
  background-color: #000000;
  color: #111;
}
.prog-1, .prog-3{
  width: 100%;
}
.prog-5, .prog-7{
  width: 60%;
}
.graph{
  width: 35%;
  height: 440px;
  padding: 50px 0px;
  justify-content: space-between;
}
.graph>div{
  padding-bottom: 15px;
  width: 100%;
  display: flex;
}
.graph>div>span{
  width: 190px;
  text-align: right;
  padding-right: 10px;
}
.keyword{
  display: flex;
  padding-bottom: 30px !important;
}
.keyword>div{
  margin: 10px 10px;
  border: solid 1px #000;
  border-radius: 25px;
  height: 40px;
  width: 100px;
  text-align: center;
  font-size: 12px;
  line-height: 40px;

}
button{
  font-family: 'YClover-Bold';
    width: 200px;
    font-size: 35px;
    font-weight: 600;
    cursor: pointer;
    color: #ffffff;;
    margin: 20px;
    background-color: #ffffff;
    height: 55px;
    text-align:center;
    border: none;
    text-shadow: -1px 0px rgb(0, 0, 0), 0px 1px rgb(3, 3, 3), 1px 0px rgb(0, 0, 0), 0px -1px rgb(0, 0, 0);
    background-size: 300% 100%;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
button:hover {
  color: #000000;;
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.image-click{
    text-align: center;
    font-size: 17px;
    padding: 50px 0px 20px 0px;
}
.portfolio{
    padding-bottom: 150px;
    display: grid;
    justify-content: center;
    grid-template-columns: 600px 600px;
    grid-template-rows: 450px 450px 450px;
}
.portfolio>div>a>img{
    width: 100%; 
    height: 380px;
}
@media (max-width: 640px) {
  .portfolio{
    display: flex;
    flex-direction: column;
    width: 500px;
  }
  .portfolio>div>a>img{
    width: 100%; 
    height: 100%;
  }
  .info{
    width: 300px;

    opacity: 0;
    position:absolute;
    top: 0px;
    padding: 0px;
    color: #7d7d7d;
}
  .info>p{
    font-size: 12px;
  }
}
.portfolio2>div>a>img{
    width: 100%; 
    height: 100%;
}
.project, .container{
    padding: 20px 20px;
}
.project.invisible{ 
    display: none !important;
}
.project{
    position: relative;
}
.video{
    width: 100%;
    height: 400px;
}
.info{
  width: 600px;
    opacity: 0;
    position:absolute;
    top: 0px;
    width: 500px;
    padding: 50px;
    color: #7d7d7d;
}
.info>p{
  padding: 10px 0px;
  line-height: 1.5;
  word-break: keep-all;
}
.info>p>span{
  color: #764ba2;
}
.title{
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 30px;
}

.click{
  text-align: right;
  margin-top: 20px;
font-size: 12px;
color: #000
}

.aespa:hover .info{
opacity: 1;
}
.aespa:hover img{
opacity: 0;
}
.aespa:hover .project{
}
#container{
  width: 80%;
    margin: 20px auto;
  }
  .images {
    width: 250px;
    margin: 0 auto;
    height: auto;
  }
  .images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
.gallery-poster{
  width: 800px;
}
.intern{
  padding: 50px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}
.gallery{
  background-color: #888888;
}
  @media (min-width: 640px) {
    #container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 0px;
      grid-auto-flow: row dense;
    }
    .imageFlex1 {
      display: grid;
      row-gap: 30px;
    }
    .imageFlex2 {
      display: grid;
      row-gap: 30px;
    }
    .imageFlex3 {
      display: grid;
      row-gap: 30px;
    }
    .imageFlex4 {
      display: grid;
      row-gap: 30px;
    }
  }
  @media (max-width: 640px){
    #container {
      display:block;
    }
  .images>div>a{
    width: 100px;
    margin-top: 100px;
  }
  }
  footer{
background-color: #000;
color: #fff;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-top: solid #000 1px ;
  }
